<!-- About Section -->
<section id="about" class="content-section-b">
    <div class="container">
        <div id="about_change" class="row">
            <div class="col-lg-8 col-lg-offset-2 lead">
                <h2 class="text-center">About Me</h2>
                <hr class="intro-divider">
                <p>
                    <span style="font-size: 150%">I</span>'m an inquisitive person. That curious spirit made me get involved in Startups, found a company,
                   go deep on Big Data and distributed systems and study economy among other things.
                </p>
                <br/>
                <p>
                    <span style="font-size: 150%">A</span>t this moment I'm pretty interested on Machine Learning and specifically Deep Learning and
                    Computer Vision.
                </p>
                <br/>
                <p>
                    <span style="font-size: 150%">B</span>elow I enumerate some of the achievements that I am most proud of.
                </p>

            </div>
        </div>
    </div>
</section>
