<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
    <script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/landing-page.js"></script>


<!--Structured Data for Google -->
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "url": "http://www.ivanprado.es/",
      "image": "https://pbs.twimg.com/profile_images/983809548636098560/VuOEkgOt_400x400.jpg",
      "additionalName": "Iván de Prado",
      "description":"Computer Science Student & AI Enthusiast",
      "name": "Iván de Prado Alonso"
      ,
      "sameAs" : [
        "https://www.linkedin.com/in/ivanprado/",
        "https://github.com/ivanprado",
        "https://twitter.com/ivanprado"
      ]
    }    
</script>

<script>
  $(window).load(function(){ window.scroll(0,600); });
  window.scroll(0,600);
</script>




